.bottom-parts {
    display: flex;
    margin-bottom: 0;
    line-height: 90px;
}
.bottom-parts h1 {
    color: hsl(259, 100%, 65%);
    font-weight: bold;
    font-size: 8.5rem;
    letter-spacing: 9px;
    font-style: italic;
}
.bottom-parts h2 {
    font-weight: bold;
    font-size: 8.5rem;
    color: hsl(0, 0%, 8%);
    font-style: italic;
}