p {
    color: hsl(0, 0%, 31%);
    font-size: 1.0rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 3px;
}
.inputs {
    width: 150px;
    margin-right: 35px;
}
input {
    width: 130px;
    height: 50px;
    border: #dadada solid 1px;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 2.2rem;
    font-weight: bold;
    color: hsl(0, 0%, 28%);
}