.top {
    width: 100%;
    height: 33%;
}

.top-inputs {
    display: flex;
    width: 80%;
}
.btn {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    margin-left: 89%;
}
button {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
    background-color: hsl(259, 100%, 65%);
    cursor: pointer;
}
.material-icons{
    font-size: 50px;
    color: white;
}